@import '~_variables.scss';

.pdw-list {
  .pdw-item {
    padding: 3px;
    .item-title {
      border: 1px solid $primary-color;
      .btn {
        float: right;
        padding-top: 0;
        padding-bottom: 2px;
        font-size: 0.9em;
      }
    }
    .item-content {
      .excute-buttons {
        padding-top: 3px;
      }
    }
  }
}
