.list-coupon {
  .add-new-item, .form-add-coupon {margin-bottom: 10px;}
  .card {
    margin-bottom: 10px;
    .table {
      margin: 0;
      td:first-child {width:25%; background-color: WhiteSmoke;}
    }
  }
  .pagination {
    margin: 0 auto;
  }
}
