<div *ngIf="isShow" class="list-coupon">
  <div class="row justify-content-end add-new-item">
    <div class="col-sm-2 col-6">
      <button [hidden]="modeAdd" type="button" class="btn btn-block btn-outline-success" (click)="prepareAddItem()">쿠폰 추가</button>
    </div>
  </div>

  <div [hidden]="!modeAdd" class="form-control form-add-coupon">
    <h2>쿠폰 추가</h2><br/>
    <form action="return false;">
      <div class="form-group">
        <label for="code_number">쿠폰 번호:</label>
        <input type="text" class="form-control" id="code_number" name="code_number" placeholder="번호을 입력하세요." [(ngModel)]="newCoupon.code_number" >
      </div>
      <div class="form-group text-right">
        <button type="button" class="btn btn-success" (click)="addItem()">추가</button>
        <button type="button" class="btn btn-outline-secondary" (click)="modeAdd = false;">취소</button>
      </div>
    </form>
  </div>

  <form *ngIf="currentSortBy == 'use_user'" class="form-inline" action="return false">
    <label for="s_use_user">검색> 사용 회원:&nbsp;&nbsp;</label>
    <input type="text" class="form-control" id="s_use_user" name="s_use_user" [(ngModel)]="s_use_user" (ngModelChange)="dataChanged($event)">
    <span class="pending-message">{{s_message}}</span>
  </form>
  <form *ngIf="currentSortBy == 'use_date'" class="form-inline" action="return false">
    <label for="s_use_date">검색> 사용일:&nbsp;&nbsp;</label>
    <input type="text" class="form-control" id="s_use_date" name="s_use_date" [(ngModel)]="s_use_date" (ngModelChange)="dataChanged($event)">
    <span class="pending-message">{{s_message}}</span>
  </form>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th (click)="sortTable('key')">쿠폰번호</th>
        <th (click)="sortTable('key')">등록일</th>
        <th (click)="sortTable('use_user')">사용 회원</th>
        <th (click)="sortTable('use_date')">사용일</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of coupons">
        <td>{{item.code_number}}</td>
        <td>{{item.reg_date}}</td>
        <td>{{item.use_user}}</td>
        <td>{{item.use_date}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-3">
      <button class="btn btn-block btn-outline-secondary" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
    </div>
    <div class="col-3 ml-auto">
      <button class="btn btn-block btn-outline-secondary" (click)="onNext()" *ngIf='nextKey'>Next</button>
    </div>
  </div>

  <p>&nbsp;</p>
</div>
