<div *ngIf="isShow" class="pdw-list">
  <form class="form-inline" action="return false">
    <label for="s_writer">검색> 글쓴 회원:&nbsp;&nbsp;</label>
    <input type="text" class="form-control" id="s_writer" name="s_writer" [(ngModel)]="s_writer" (ngModelChange)="dataChanged($event)">
    <span class="pending-message">{{s_message}}</span>
  </form>

  <div class="pdw-item" *ngFor="let item of qnas | async">
    <div class="form-control item-title" (click)="expandItem(item)">
      <div><table>
        <tbody>
          <tr>
            <td>{{ item.title }} ({{ item.writer }})</td>
            <td class="text-right">
              <button type="button" class="btn btn-outline-danger" (click)="prepareDeleteItem(item, $event)">삭제</button>
              <button [hidden]="item.expanded" type="button" [className]="(labelBtnWrite(item)=='답변 수정')? 'btn btn-outline-primary':'btn btn-primary'">{{labelBtnWrite(item)}}</button>
            </td>
          </tr>
        </tbody>
      </table></div>
    </div>
    <div [hidden]="!item.expanded" class="item-content">
      <div class="form-control preview-content">
        <p><strong>글쓴이: {{ item.writer }}<br/>날짜: {{ item.reg_date  | date : "y년 M월 d일  HH시 m분 s초" }}</strong></p>
        <p [innerHtml]="item.content"></p>

        <div class="form-control">
          <table class="table">
            <thead class="thead-light">
              <tr><th>운영자 답변</th></tr>
            </thead>
            <tbody>
              <tr *ngIf="item.comment && !item.editing"><td [innerHtml]="item.comment.content"></td></tr>
              <tr *ngIf="!item.comment && !item.editing"><td><div class="alert alert-warning">답변을 하지 않은 상태입니다.</div></td></tr>
              <tr *ngIf="item.editing"><td style="padding:0.75rem 0px;"><textarea class="form-control" rows="5" [(ngModel)]='item.editedContent'></textarea></td></tr>
            </tbody>
          </table>

          <div [hidden]="item.editing" class="row justify-content-end">
            <div class="col-lg-2 col-6">
              <button type="button" class="btn btn-block btn-outline-primary" (click)="prepareEditItem(item)">{{labelBtnWrite(item)}}</button>
            </div>
            <div class="col-lg-2 col-6">
              <button type="button" class="btn btn-block btn-outline-secondary" (click)="expandItem(item)">취소</button>
            </div>
          </div>

          <div *ngIf="item.editing" class="row justify-content-end excute-buttons">
            <div class="col-lg-2 col-6">
              <button type="button" class="btn btn-block btn-outline-primary" [disabled]="item.editedContent == item.comment.content" (click)="editItem(item)">완료</button>
            </div>
            <div class="col-lg-2 col-6">
              <button type="button" class="btn btn-block btn-outline-secondary" (click)="cancelEditItem(item)">취소</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
