<nav *ngIf="isShowNav" class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <a class="navbar-brand" href="javascript:void(0)"><img [src]="img.icon" style="width:40px;padding-right:10px;margin-top:-3px;"/> 합격문</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" (click)="goToAnchor('section_qna')"><i class="fa fa-question-circle-o" aria-hidden="true"></i> 문의하기</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- The Modal -->
<div class="modal fade" id="myModal" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" (click)="confirmModal(0)">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>
      <input type="hidden" class="modal-type" value="" />
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmModal(1)">OK</button>
        <button type="button" class="btn btn-default" (click)="confirmModal(0)">Cancel</button>
      </div>
      </div>
  </div>
</div>
