<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:24px;">
  <a class="navbar-brand" href="javascript:void(0)">합격문</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="link-features" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:noticePublic();">Pricing</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div hidden class="user-pic" id="user-pic"></div>
      </li>
      <li class="nav-item">
        <div hidden class="user-name" id="user-name"></div>
      </li>
      <li class="nav-item">
        <a [hidden]="auth.authenticated" class="nav-link" (click)="signIn()" href="javascript:void(0);">로그인</a>
      </li>
      <li class="nav-item">
        <a [hidden]="!auth.authenticated" class="nav-link" (click)="signOut()" href="javascript:void(0);">로그아웃</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{ title }}</h1>
  <router-outlet></router-outlet>

  <!-- Button to Open the Modal -->
  <!--
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>
  -->
  <button type="button" class="btn btn-primary" (click)="openModal()">Open modal</button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" (click)="confirmModal(0)">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="confirmModal(1)">OK</button>
          <button type="button" class="btn btn-default" (click)="confirmModal(0)">Cancel</button>
        </div>
        </div>
    </div>
  </div>
</div>
