<div class="container">
  <h2>{{ title }}</h2>

  <div class="row">
    <div class="col-sm-3">
      <ul class="nav pullLeft">
        <li [ngClass]="(stringCurrentMenu == 'member')? 'active':''"><div class="div-link" (click)="goToMenu('member')">회원</div></li>
        <li [ngClass]="(stringCurrentMenu == 'event')? 'active':''"><div class="div-link" (click)="goToMenu('event')">이벤트</div></li>
        <li [ngClass]="(stringCurrentMenu == 'notice')? 'active':''"><div class="div-link" (click)="goToMenu('notice')">공지 사항</div></li>
        <li [ngClass]="(stringCurrentMenu == 'usage')? 'active':''"><div class="div-link" (click)="goToMenu('usage')">이용 방법</div></li>
        <li [ngClass]="(stringCurrentMenu == 'qna')? 'active':''"><div class="div-link" (click)="goToMenu('qna')">1:1 질문</div></li>
        <li [ngClass]="(stringCurrentMenu == 'problem')? 'active':''"><div class="div-link" (click)="goToMenu('problem')">기출 문제</div></li>
      </ul>
    </div>

    <div class="col-sm-9">
      <app-member></app-member>
      <app-notice></app-notice>
      <app-notice-event></app-notice-event>
      <app-notice-usage></app-notice-usage>
      <app-problem></app-problem>
      <app-qna></app-qna>
    </div>
  </div>
</div>
