<section class="section-primary text-center">
  <div class="row justify-content-center">
    <div class="col-md-6 col-10">
      <strong>핵심만 간단하고<div class="xs-show"></div> 단순하게 공부하는<br/>
      스마트한 공부 방법</strong>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-8"><strong class="accent">합격문</strong></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-10">
      10년간의 기출문제를 분석해<br/>
      노트와 기출문제를<div class="xs-show"></div> 하나의 어플에 담다
    </div>
  </div>
</section>

<section class="section-phone text-center">
  <div class="row justify-content-center">
    <div class="col-md-4 col-10">
      <img class="img-fluid" src="../../assets/images/phone.png"/>
    </div>
  </div>
</section>

<section class="section-logo text-center">
  <div class="row justify-content-center">
    <div class="col">
      <br/>
      <img class="img-fluid" src="../../assets/images/icon.png"/><br/>
      <br/>
      <br/>
      언제 어디서나<br/>
      최소 비용과 최소 시간으로<br/>
      <strong>공인중개사 합격하기</strong><br/>
      <br/>
      <img width="240" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"/>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col col-ord">01</div>
    </div>
    <div class="row">
      <div class="col col-vs">
        공부 따로 문제풀이 따로?<br/>
        공부는 했는데 문제를 풀면 모르겠다구요?
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <strong>이제는</strong><br/>
        공부와 문제풀이를 동시에 하셔서<br/>
        표율도 높이고 즐겁게 공부하세요.
      </div>
    </div>
    <div class="row div-relative text-center">
      <div class="col-absolute">
        <p>
          노트로 공부하다가<br/>
          타이틀을 선택하면<br/>
          14년간 해당 타이틀로 출제됐던<br/>
          문제를 풀 수 있어요
        </p>
      </div>
      <div class="col-6">
        <img class="img-fluid" src="../../assets/images/phone.png"/>
      </div>
      <div class="col-6">
        <img class="img-fluid" src="../../assets/images/phone.png"/>
      </div>
    </div>
  </div>
</section>
