$primary: #27327d;
$primary-color: $primary;

@import '../node_modules/bootstrap/scss/bootstrap';

$icon-font-path: '../node_modules/bootstrap/scss/bootstrap';

.item-title {
  position: relative;;
  div{
    display: block;
    width: calc(100%);
    max-width: calc(100%);
    table {
      width: 100%;
      max-width: 100%;
      td:last-child {font-size:0.875em;}
    }
  }
}
