/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
$primary: red;

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: "Nanum Gothic", sans-serif;
  color: #888;
}
