<div *ngIf="isShow" class="list-member">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>닉네임</th>
        <th>이메일</th>
        <th>최근 방문일</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="tableTicket(user)">
        <td>{{user.display_name}}<br/>(key: {{user.key}})</td>
        <td>{{user.email}}</td>
        <td>{{user.last_login | date : "y-MM-dd hh:mm:ss" }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-3">
      <button class="btn btn-block" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
    </div>
    <div class="col-3 ml-auto">
      <button class="btn btn-block" (click)="onNext()" *ngIf='nextKey'>Next</button>
    </div>
  </div>
</div>
