<div *ngIf="isShow" class="list-member">
  <form *ngIf="currentSortBy == 'email'" class="form-inline" action="return false">
    <label for="s_email">검색 이메일:&nbsp;&nbsp;</label>
    <input type="email" class="form-control" id="s_email" name="s_email" [(ngModel)]="s_email" (ngModelChange)="dataChanged($event)">
  </form>
  <form *ngIf="currentSortBy == 'display_name'" class="form-inline" action="return false">
    <label for="s_display_name">검색 닉네임:&nbsp;&nbsp;</label>
    <input type="text" class="form-control" id="s_display_name" name="s_display_name" [(ngModel)]="s_display_name" (ngModelChange)="dataChanged($event)">
  </form>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th (click)="sortTable('display_name')">닉네임</th>
        <th (click)="sortTable('email')">이메일</th>
        <th (click)="sortTable('last_login')">최근 방문일</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="tableTicket(user)">
        <td>{{user.display_name}}<br/>(key: {{user.key}})</td>
        <td>{{user.email}}</td>
        <td>{{user.last_login | date : "y-MM-dd hh:mm:ss" }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-3">
      <button class="btn btn-block btn-outline-secondary" (click)="onPrev()" *ngIf='prevKeys?.length'>Prev</button>
    </div>
    <div class="col-3 ml-auto">
      <button class="btn btn-block btn-outline-secondary" (click)="onNext()" *ngIf='nextKey'>Next</button>
    </div>
  </div>
</div>
