.list-member {
  .card {
    margin-bottom: 10px;
    .table {
      margin: 0;
      td:first-child {width:25%; background-color: WhiteSmoke;}
    }
    .table-sm {
      th, td {padding-left: 12px;}
    }
  }
  .pagination {
    margin: 0 auto;
  }
  .form-inline {margin-bottom: 10px;}
}
